
.my_pagination { width: 48%;;background-color: #fff; border: 1px solid #dddddd; border-radius: 3px; clear: both; margin: 28px 0 0; text-align: center; height: 31px;
    margin: 0 auto;}
.my_pagination ul { list-style: none; border-left: 1px solid #d9d6d6; border-right: 1px solid #d9d6d6; float: left; width: 67%; }
.my_pagination ul li { display: inline-block; }
.my_pagination ul li a { display: block; font-size: 16px; font-weight: 600; color: #515050; padding: 6px 2px; }
.prev-div, .next-div { text-align: center; float: left; width: auto; }
.prev-click, .next-click { display: inline-block; width: auto; height: 16px; margin: 9px 9px 0; }
.prev-click { background-position: -280px -311px; }
.next-click { background-position: -280px -331px; }
.prev-click:hover, .prev-div:hover .prev-click { background-position: -298px -311px; }
.next-click:hover { background-position: -301px -331px; }
.my_pagination ul li a:hover { color: #d75c43; }
